* {
    /*Borda e padding será contato como área do elemento(desconta do meio)*/
    box-sizing: border-box;
}

html, body {
    /*Margem interna*/
    padding: 0;
    /*Margem externa*/
    margin: 0;
    font-family: Montserrat, sans-serif;
}
/**/
.nav-container {
    background-color: #2C3E50;
    /*Altura*/
    height: 100px;
    /*Largura*/
    width: 100%;
}

.nav-main {
    width: 100%;
    /*Largura não pode ser maior*/
    max-width: 960px;
    /*Macete para centralizar um div, header e etc.. dentro do outro 
    para funcionar tem que por a largura(width)*/
    margin: 0 auto;
    border: 1px solid yellow;
}

/* Toda tag a dentro da classe .nav-main*/
.nav-main a {
    color: #fff;
}